mat_card {
  max-width: 200px;
  margin: 2em auto;
  text-align: center;
  max-height: 600px;
}
mat-card-content {
  // max-width: 50%;
}
.header {
  text-align: center;
}
.full-width {
  width: 80%;
}
.forgot-password {
  padding-left: 0px;
}
.email-input {
  padding-top: 10px;
}
.aLink {
  padding-right: 60px;
  float: right;
  text-decoration: none;
}
