.mainCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.2), 5px 6px 8px rgba(0, 0, 0, 0.19);
}
mat-card-content {
  width: 80%;
}
.header {
  text-align: center;
}
.full-width {
  width: 100%;
}
.email-input {
  width: 100%;
}
.aLink {
  padding-right: 60px;
  float: right;
  text-decoration: none;
}
