<mat-card class="mainCard">
  <mat-card-content>
    <div class="header">
      <h2>Sign Up</h2>
    </div>

    <form (ngSubmit)="onSignup()" name="signupForm" [formGroup]="signupForm">
      <div class="email-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput required />
          <mat-error *ngif="signupForm.get('email').error?.required">
            Required email address
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            formControlName="password"
            matInput
            [type]="hide ? 'password' : 'text'"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngif="signupForm.get('password').error?.required">
            Required password
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input
            formControlName="confirmPassword"
            matInput
            [type]="hideConfirm ? 'password' : 'text'"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hideConfirm = !hideConfirm"
            [attr.aria-label]="'Hide Confirm Password'"
            [attr.aria-pressed]="hideConfirm"
          >
            <mat-icon>{{
              hideConfirm ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngif="signupForm.get('confirmPassword').error?.required">
            Required confirm password
          </mat-error>
        </mat-form-field>
      </div>

      <button mat-flat-button color="primary" type="submit">Sign Up</button>
    </form>
  </mat-card-content>
</mat-card>
